.search-bar {
  font-family: 'Comic Neue', cursive;
  font-size: 16px;
  padding: 8px 12px;
  border: 2px dashed #ff69b4;
  border-radius: 12px;
  margin-left: 20px;
  width: 200px;
  background-color: #fff0f5;
  outline: none;
  box-shadow: 2px 2px 0 #d87093;
}

.search-bar::placeholder {
  color: #800080;
}
